body { 
	padding: 1em 5em 0 5em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
}

h1 {
	font-size: 400%;
	text-align: center;
}

h2 {
	font-size: 200%;
	margin-top: 4em;
	text-align: center;
}

.addendum h2 {
	font-size: 150%;
	margin-top: 1em;
	text-align: left;
}

img { 
	border: 0px solid white; 
}

a { 
	color: #369; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

td {
	padding: 10px;
}

th {
	text-align: left;
}

ul.check {
  list-style-type: none;
}

.sep {
	border-bottom: 1px dotted #e0e0e0;
	margin: 2em 0;
}

.stars {
	color: gold; 
	font-size: 18pt; 
	text-align: right; 
}

.stars-inline {
	color: gold;
	margin-right: .2em;
}

.highlight {
	border: 1px dotted red;
	cursor: pointer;
}

.addendum{
	clear: left;
	margin-bottom: 4em;
}

.narrow {
	margin: 1em 10em 1em 10em;
	text-align: justify;
}

.img-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.img-container img {
	margin: 0 0 2em 0;
}

.leftcol {
	padding-right: 1em;
	float: left;
	width: 50%;
	border-right: 1px dotted #cfcfcf;
}

.rightcol {
	margin: 3em 0 0 1em;
	float: left;
	font-family: 'Garamond', serif;
	width: 30%;
}

.rightcol p {
	margin: 0 0 0 1em;
	padding: 0;
	font-size: 120%;
	color: #6e6e6e;
}

.sidecol {
	clear: left;
}

.squo {
	font-size: 200%;
	color: #6e6e6e;
	line-height: 20%;
}

.equo {
	font-size: 200%;
	color: #6e6e6e;
	text-align: right;
}

.footnote {
	vertical-align: super;
	padding-left: 2px;
	font-size: 70%;
	font-weight: bold;
}

#menu {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 80%;
}


#data-out {
	display: none;
	border: 1px solid #3e3e3e;
	background: #FF9;
	font-size: 90%;
	margin: 10px;
	padding: 5px;
}

#hint {
	display: none;
	font-size: 80%;
	font-style: italic;
	color: #606060;
	padding: 10px;
}

#ack {
	color: #a0a0a0;
	font-family: 'Garamond', serif;
	text-align: justify;
	margin: 8em 5em 3em 5em;
	font-size: 90%;
}

#footer { 
	color: #303030;
	margin: 1em;
	padding: 2px; 
	background: #fff; 
	font-size: 60%;
	text-align: center; 
	border-top: 1px solid #d0d0d0;
}

